<%- include('partials/navbar.ejs') -%>
<%- include('partials/sidebar.ejs') -%>


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-2"></div>
<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Coupon list</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Exp-date</th>
                    <th scope="col">Cart-Amount</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <% couponlist.forEach((element,i)=>{ %> 
                     <tr>
                    <th scope="row"><%= i+1 %> </th>
                    <td><%= element.code %> </td>
                    <td><%= element.status %> </td>
                    <td><%= element.expiredAfter.toLocaleString() %> </td>
                    <td><%= element.mincartAmout %> </td>
                    <td><%= element.maxdiscountAmount %> </td>
                    
                    
                      <td>
                        <a href="/admin/deletecoupon/<%=element._id%>" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</a>
                      </td>
                     
                   
                </tr>
             <%  })  %>
               
              
            </tbody>
        </table>

        <a href="/admin/addcoupon"  class="btn btn-primary">Add-Coupon</a>
    </div>
</div>



